<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mni.youtube-vip-pm</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-i</string>
        <string>-s</string>
        <string>/usr/local/bin/python3</string>
        <string>/Users/minsmac/MNI_Finance project/agents/youtube_agent/YouTube for VIP.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/minsmac/MNI_Finance project</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>TELEGRAM_VIP_ID</key>
        <string>-1003771013974</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>17</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/minsmac/MNI_Finance project/youtube_vip_pm.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/minsmac/MNI_Finance project/youtube_vip_pm_err.log</string>
</dict>
</plist>
